.search-results {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

h2 {
    margin-top: 200px; 
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 110px;
}

.filter-dropdown {
    margin: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 10vw;
    cursor: pointer;
    transition: box-shadow 0.2s, border-color 0.2s;
    top: 100px;
    right: inherit;
}
  
.filter-dropdown:focus {
    box-shadow: 0 0 3px 0 rgba(80, 207, 76, 0.7);
    border-color: rgb(80, 207, 76, 0.7);
    outline: none;
}
  
.filter-dropdown:hover {
    box-shadow: 0 0 3px 0 rgba(80, 207, 76, 0.5);
}

.scroll-container {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 45vw;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.recipe-card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.recipe-card p {
    margin: 5px 0;
    color: #555;
}
  