/* General page container */
.page-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
}

.version-description { 
  z-index: 2;
  position: fixed; 
  bottom: 10px; 
  right: 10px;
  background-color: #1db97d;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}