/* Main navbar styles */
.navbar {
  background: linear-gradient(90deg, rgb(80, 207, 76) 15%, rgb(26, 23, 23) 70%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0px;
  width: 100vw;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

/* Logo styles */
.navbar-logo {
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  height: 80px;
}


.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
}


.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;      /* Width of the hamburger icon */
  height: 24px;     /* Height of the hamburger icon */
  cursor: pointer;
}


.hamburger span {
  display: block;
  height: 5px;            /* Height of each bar */
  background-color: #fff; /* White color for bars */
  border-radius: 2px;    
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes it to the far right */
  gap: 20px; /* Spacing between menu items */
}

.login-button {
  background-color: #fff;
  color: rgb(26, 23, 23);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px; /* Spacing between Log In and menu icon */
}

