body {
  overflow: hidden; 
}

.navbar {
  background: linear-gradient(90deg, rgb(80, 207, 76) 15%, rgb(26, 23, 23) 70%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  position: fixed;
  top: 0px;
  width: 100vw;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  text-decoration: none;
  cursor: default;
  user-select: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  height: 80px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.navbar-icon {
  font-size: 24px;      /* Adjust the size */
  color: #7232da;       /* Custom color */
  margin-right: 10px;   /* Space it from other elements */
  cursor: pointer;      /* Change cursor on hover */
}

