.recent-cooked {
    position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  top: 240px;
  
}

.title {
    margin-top: 200px; 
    color: #000;
    font-size: 22px;
    padding: 10px 15px;
    height: 0px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 45vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.recipe-card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.recipe-card p {
    margin: 5px 0;
    color: #555;
}
  