.carousel-container {
    position: fixed;
    top: 170px;
    width: 100vw;
    overflow: hidden;
    margin: 20px 0;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, rgb(100, 100, 100), rgb(80, 207, 76));
    border-image-slice: 1;
    border-left: 0px;
    border-right: 0px;
}
  
.carousel-wrapper {
    width: 100vw;
    overflow: hidden;
}
  
.carousel {
    display: flex;
    white-space: nowrap;
}
  
.carousel-card {
    flex: 0 0 20%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: rgb(26, 23, 23);
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    padding-left: 20px;
    border-radius: 8px;
    text-align: left;
    font-size: 0.9rem; 
    line-height: 1.4;
    transition: transform 0.2s, box-shadow 0.2s;
}
  
.carousel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
  
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}
  
.carousel-button.left {
    left: 10px;
}
  
.carousel-button.right {
    right: 10px;
}
  